
@using (Html.BeginForm())
{
    <label>
        username
        <input name="login" type="text" />
    </label>
    <label>
        password
        <input name="password" type="password" />
    </label>
    <button type="submit">LogIn</button>
}

